.rowHeader {
    margin-left: 20px ;
}
.rowContainer {
    display: flex;
    padding: 0px 55px;
    flex-direction: column;
}

.item {
    background: black;
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}
.slider__container:hover .item {
    transform: translateX(-25%);
}

.item:hover ~ .item {
    transform: translateX(25%);
 }

.item:hover {
    transform: scale(1.5) !important;
}
