.form-container {
  margin: auto;
  border-radius: 4px;
  max-width: 450px;
  border: 1px rgba(0, 0, 0, 0.75) solid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  margin-top: 50px;
}
.main-form {
  /* margin: auto; */
  box-sizing: content-box;
  margin-left: 15%;
  margin-right: 15%;
  margin: 60px;
}
.sign-in-button {
  background-color: red;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 4px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
}
#float-label .input-field {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  border: 0;
  background: #333;
  width: 100%;
  height: 50px;
  padding: 16px 20px 0px 20px;
  margin: 8px 0 8px;
}
.input-field,
select {
  color: white;
}
.input-field:focus {
  outline: none;
}
.form-label {
  color: white;
}
.hero-card-img {
  z-index: -2;
  height: 100% vh;
  position: absolute;
  top: 0;
  /* max-height: fit-content; */
  object-fit: cover;
}

.form-other-details {
  color: #737373;
  margin-top: 50px;
  margin-bottom: 20px;
}
.sign-up-link {
  color: white;
  text-decoration: none;
}
.recaptcha-terms-of-use {
  font-size: 13px;
  color: #8c8c8c;
}
.recaptcha-link {
  color: #0071eb;
}
#float-label label {
  color: #8c8c8c;
}
#float-label {
  position: relative;
}
#float-label .Active {
  transform: translate(0, 12px) scale(0.75);
}
html,
body,
#root {
  height: 100%;
}
.error {
  color: rgb(175, 29, 29);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
