nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.authLinks.login-btn {
    /* height: 100%; */
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    height: 32px;
}

.login-nav {
    color:aliceblue;
}
