nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  /* background-color: black; */
  /* border: 1px solid green; */
}

.logged-in {
  background-color: black;
}

.logo-container {
  margin-top: 10px;
  margin-left: 5%;
  width: 200px;
  height: 70px;
  /* margin-bottom: 10px; */
}

.logo-container > img {
  width: 100%;
  height: auto;
}
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authLinks,
.btn-red {
  /* height: 100%; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 30px;
  margin-right: 5%;
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  height: 32px;
}

.login-nav {
  color: aliceblue;
}

.home-nav {
  position: absolute;
  text-decoration: none;
  color: white;
  font-weight: bold;
  left: 350px;
  top: 30px;
}