.search-bar__container {
    position: absolute;
    right: 150px;
    top: 43px;
    transform: translate(-50%, -50%);
}

.search-bar {
    width: 0px;
    background-color: black;
    outline: none;
    border: 1px solid white;
    color: white;
    padding: 10px;
}

.search-bar:focus, 
.search-bar:not(:placeholder-shown) {
    width: 200px;
    height: 10px;
    margin-right: -66px;
    transition: all ease-in 0.25s;
}

.search-icon {
    height: 25px;
    width: 25px;
    transform: scaleX(-1);
    animation: fadeInEffect ease-in 0.2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    cursor: pointer;
}

@keyframes fadeInEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}