.select-profile__container {
    min-height: calc(100vh - 80px);
    padding-top: 10%;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.profile-list__text {
    font-size: 50px;
}

.profile-list__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

}

.manage-profiles-button {
    margin-top: 80px;
    border: 1px solid #808080;
    color: #808080;
    height: 40px;
    width: 250px;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.manage-profiles-button:hover {
    border: 1px solid white;
    color: white;
}