.video-cover {
  height: 100%;
  width: 100%;
}
.image-container {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  position: relative;
}
.video-cover-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
