.video-container {
  width: 100%;
  /* max-height: 800px; */
  height: 800px;
  display: flex;
  justify-content: center;
  background-color: black;
}
.video-container:hover .control {
  transform: translateY(0);
}
.recommended {
  background-color: rgba(0, 0, 0, 0.95);
}
.recommended-header {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-top: 10px;
  justify-content: flex-start;
  padding-left: 15px;
}
