.content {
  position: relative;
  height: 43vw;
  margin-top: -40px;
  margin-top:10px;
  --scrollbarBG: #000000;
  --thumbBG: #fff ;
}
.content__background,
.content__background__shadow,
.content__background__image,
.content__area {
  position: absolute;
  top: 0;
  bottom: 0;
}

.content__background {
    left: 0;
    right: 0;
}
.content__background__shadow {
  left: 0;
  background: #000;
  width: 30%;
  z-index: 2;
}

.content__background__shadow:before {
  content: '';
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}


.content__background__image {
  right: 0;
  width: 70%;
  height: 100%;
  background-position: center 10%;
  background-size: cover;
  z-index: 1;
  
}


.content__area {
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}
.content__area__container {
  /* position: absolute; */
  padding: 30px 70px;
  color: wheat;
}


.content__title {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
}

.content__description {
  font-size: 18px;
  color: #999;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 27%;
  max-height: 10em;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.content__description::-webkit-scrollbar {
  width: 11px;
}

.content__description::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.content__description::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.content__close {
  color: #fff;
  width: 40px;
  height: 40px;
  background: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
}
