.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;
}
.item img {
  height: 100%;
  width: 100%;
  vertical-align: top;
  border-radius: 4px;
}
.watch-page-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms ease 100ms;
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;
}
.watch-page-button span {
  display: block;
  height: 10vw;
  width: 14px;
  margin: 0 auto;
  color: white;
}

.item-title-container {
  position: relative;
  bottom: 3em;
  height: 3em;
  background-image: linear-gradient(#1414149a,#070707);
  pointer-events: none;
  padding-top: 5px;
}

.item-title-container > span {
  margin-top: 15px;
  font-size: 1.20vw;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
