/* TODO Add site wide styles */


body, html {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    /* background-color: #f3f3f3; */
    color: aliceblue;
    font-size: 16px;
    direction: ltr;
    margin: 0;
    padding: 0;

}

div {
  display: block;
}

#root {


    width:100%;
    z-index: -1;
    height: max-content;
    /* background-color: rgba(0, 0, 0, 0.65); */
    color:aliceblue

}

.authLinks {
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 0.5rem;
}
